amqp==2.3.2
billiard==3.5.0.5
celery==4.2.1
certifi==2022.12.7
chardet==3.0.4
decorator==4.3.0
Django==2.1.4
django-crispy-forms==1.7.2
django-environ==0.4.5
gunicorn==19.9.0
idna==2.8
imageio==2.4.1
kombu==4.2.1
moviepy==0.2.3.5
numpy==1.15.4
Pillow==5.3.0
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
python-http-client==3.1.0
pytube==9.3.5
pytz==2018.7
requests==2.21.0
sendgrid==3.6.5
sendgrid-django==4.2.0
six==1.12.0
tqdm==4.28.1
urllib3==1.24.1
vine==1.1.4
whitenoise==4.1.2
